<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jeopardy Search</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <h1>Search for Jeopardy clues</h1>
      <fieldset>
        <form action="/search" method="post">
          <h2>Enter start date:</h2>
          <input name="min_date" type="date" class="ghost-input" placeholder="Enter start date">
          <h2>Enter end date:</h2>
          <input name="max_date" type="date" class="ghost-input" placeholder="Enter end date">

          <h2>Enter category:</h2>
          <select name="category">
            <option value=""></option>
            <% for(var i = 0; i < categories.length; i++) { %>
              <option value="<%= categories[i].id %>"><%= categories[i].title %></option>
            <% } %>
          </select>

          <h2>Enter value:</h2>
          <input name="value" type="number" class="ghost-input" placeholder="Enter clue value">

          <input type="submit" class="ghost-button" value="Get clues">
        </form>
        <% if (clues !== null){ %>
          <table>
            <td>Answer</td>
            <td>Question</td>
            <td>Airdate</td>
            <td>Category ID</td>
            <td>Category Name</td>
            <td>Value</td>
          <% for (var i =  0; i < clues.length; i++) { %>
             <tr>
               <td><%= clues[i].answer %></td>
               <td><%= clues[i].question %></td>
               <td><%= clues[i].airdate %></td>
               <td><%= clues[i].category.id %></td>
               <td><%= clues[i].category.title %></td>
               <td><%= clues[i].value %></td>
             </tr>
          <% } %>
          </table>
        <% } %>
        <% if (error !== null){ %>
          <p class="error"><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
